{% extends "base.html" %}

    {% block content %}
    <!-- Header -->
	<header>
        <div class="container">
		<div id="abcd">
	        <p>Are you ready to get rid of your addictions?
	     	</p>
	    </div>
		<div id="abc">
	        <p>Are you ready to become a better person?
	     	</p>
	    </div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div id="ab">
	        <h4>Then join <i>SelfCure</i> now, and get ready to be amazed
	     	</h4>
	    </div>
            <div class="row">
                <div class="intro-text">
				    <div class="col-lg-12">
                    <img class="img-responsive" src="img/sc copy.png" alt="SelfCure">
                        <h1 id="main">SelfCure</h1>
                        <hr class="star-light">
                        <span class="skills">"It is never too late."</span>
					</div>
                </div>
            </div>
        </div>
    </header>
	<iframe src="http://www.ccv.adobe.com/v1/player/K6WqJQ8zj5T/embed" width="100%" height="540" frameborder="0" allowfullscreen></iframe>
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What we cover</h2>
                    <hr class="star-primary">
                </div>
            <h3 id="add">We remove the following addictions*
			</h3>
			<br>
			<div id="addiction">
			    <a id="box" href="start.html"><p>Gaming</p></a> 
			    <a id="boxo" href="start.html"><p>Alcohol</p></a> 
                <a id="boxor" href="start.html"><p>Food</p></a>
			</div>
			<br><br><br><br>
			<h6><center>*Cannot find your addiction? Do not worry... We are constantly adding new Addictions to remove to our website.</center></h6><br>
			</div>
		</div>
	</section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center"><p id="hello-dear">SelfCure is a free service that helps you to recognize, record, observe, understand, monitor, interpret, act against and eventually remove your addiction.
				At SelfCure we believe there is always a chance to improve, become the master of your mind, a better human being and most importantly enjoy your lives thoroughly.</p>
                </div>
            </div>
        </div>
    </section>

<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our Staff</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
								<p>The Nice Guy</p>
                            </div>
						</div>
                        <img src="img/Yatin.gif" class="img-responsive" alt="">
                    </a>
                </div>
				<div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
								<p>You</p>
                            </div>
                        </div>
                        <img src="img/Finger-Pointing.jpg" class="img-responsive" alt="">
                    </a>
                </div>
				<div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
								<p>The Cool Guy</p>
                            </div>
                        </div>
                        <img src="img/Bhanu.gif" class="img-responsive" alt="">
                    </a>
                </div>
                
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p class="ok">New Delhi,<br> India</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a target="external" href="https://www.facebook.com/SelfCure.co" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a target="external" href="https://plus.google.com/110051280163350096603/about" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a target="external" href="https://twitter.com/MyDrugie" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a target="external" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a target="external" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-youtube-play"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About SelfCure</h3>
                        <p class="ok"><a href="#page-top">SelfCure</a> is a free website that helps you to remove your addiction.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="ok">Copyright &copy; SelfCure 2014</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Yatin Agarwal</h2>
                            <hr class="star-primary">
                            <img src="img/Yatin.gif" class="img-responsive img-centered" alt="">
                            <p>Yatin Agarwal is the Owner and Founder of this miraculous website. He is 14 years old and designed this website for people suffering due to their various addictions. He saw this problem in the society, and thus resulted in creating this website. </p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a target="external" href="https://www.facebook.com/yatin.agarwal.3">Yatin Agarwal</a>
                                    </strong>
                                </li>
                                <li>Designation:
                                    <strong><a target="external" href="https://plus.google.com/+YatinAgarwal007">Founder and Owner</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
	 <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>You, are a part of our staff</h2>
                            <hr class="star-primary">
                            <img src="img/Finger-Pointing.jpg" class="img-responsive img-centered" alt="">
                            <p>You are our user and we give you the rightful title of being a member of our staff. You are more important than anyone else as you will be needed to be truthful and have a strong will.</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Bhanu Agarwal</h2>
                            <hr class="star-primary">
                            <img src="img/Bhanu.gif" class="img-responsive img-centered" alt="">
                            <p>Bhanu Agarwal is the co-founder and financial advisor of this website. He is 19 years old and studies at UIUC. He and the founder are brothers.</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Bhanu Agarwal</a>
                                    </strong>
                                </li>
                                <li>Designation:
                                    <strong><a href="http://startbootstrap.com">Co-founder</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- jQuery Version 1.11.0 -->
    <script src="jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="classie.js"></script>
    <script src="cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="jqBootstrapValidation.js"></script>
    <script src="contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="freelancer.js"></script>

</body>

</html>
